<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <h1 class="my-4">Portafolio de productos y servicios
        <!-- <small>Secondary Text</small> -->
    </h1>

    <div class="row">
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <img class="card-img-top" src="../../content/images/landingImage.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        Diseño
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque
                        urna varius vitae.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <img class="card-img-top" src="../../content/images/landingImage.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        Proyectos
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque
                        urna varius vitae.</p>
                </div>
            </div>
        </div>
    </div>
