<section class="bg-primary mb-0">
    <div class="container">
        <h2>Contáctanos</h2>
        <hr>
        <!-- <hr class="star-light mb-5"> -->
        <p class="lead">Nos encantaría escuchar sobre ti, no dudes en contactarnos:</p>
        <div class="row">
            <div class="col-lg-6 ml-auto">
                <h3>Teléfono</h3>
                <p class="lead">+57 3701234567</p>
            </div>
            <div class="col-lg-6 ml-auto">
                <h3>Email</h3>
                <a class="lead" href="mailto:correo@transenergycol.com">correo@transenergycol.com</a>
            </div>
        </div>
    </div>
</section>
