<jhi-page-ribbon></jhi-page-ribbon>
<div>
    <router-outlet name="navbar"></router-outlet>
</div>
<div >
    <!-- <div class="jh-card"> -->
        <router-outlet></router-outlet>
        <router-outlet name="popup"></router-outlet>
    <!-- </div> -->
    <jhi-footer></jhi-footer>
</div>
