<section class="bg-primary mb-0">
    <div class="container">
        <h2 class="">Nosotros</h2>
        <hr>
        <!-- <hr class="star-light mb-5"> -->
        <div class="row">
            <div class="col-lg-6 ml-auto">
                <img class="img-fluid" src="https://res.cloudinary.com/duuhnqkce/image/upload/v1531957141/samples/imagecon-group.jpg" alt="">
            </div>
            <div class="col-lg-6 ml-auto">
                <p class="lead">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source
                    files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.</p>
            </div>
        </div>
    </div>
</section>
