<section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h2 class="mb-4">Energías limpias Transenergycol</h2>
            </div>
        </div>
    </div>
</section>

<section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5">What people are saying...</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid mb-3" src="https://res.cloudinary.com/duuhnqkce/image/upload/v1531957130/samples/sheep.jpg" alt="">
                    <h3>Margaret E.</h3>
                    <p class="lead mb-0">"This is fantastic! Thanks so much guys!"</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid mb-3" src="https://res.cloudinary.com/duuhnqkce/image/upload/v1531957131/samples/landscapes/girl-urban-view.jpg" alt="">
                    <h5>Fred S.</h5>
                    <p class="font-weight-light mb-0">"Bootstrap is amazing. I've been using it to create lots of super nice landing pages."</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid mb-3" src="https://res.cloudinary.com/duuhnqkce/image/upload/v1531957144/samples/landscapes/nature-mountains.jpg" alt="">
                    <h5>Sarah W.</h5>
                    <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- icons -->
<!-- <section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon">
                        <img class="img-fluid" src="https://res.cloudinary.com/duuhnqkce/image/upload/v1531957130/samples/sheep.jpg" alt="">
                    </div>
                    <h3>Artículo de interes 1</h3>
                    <p class="lead mb-0">This theme will look great on any device, no matter the size!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon">
                        <img class="img-fluid" src="https://res.cloudinary.com/duuhnqkce/image/upload/v1531957131/samples/landscapes/girl-urban-view.jpg"
                            alt="">
                    </div>
                    <h3>Artículo de interes 2</h3>
                    <p class="lead mb-0">Featuring the latest build of the new Bootstrap 4 framework!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon">
                        <img class="img-fluid" src="https://res.cloudinary.com/duuhnqkce/image/upload/v1531957144/samples/landscapes/nature-mountains.jpg"
                            alt="">
                    </div>
                    <h3>Artículo de interes 3</h3>
                    <p class="lead mb-0">Ready to use with your own content, or customize the source files!</p>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- Image Showcases -->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">

            <div class="col-lg-6 order-lg-2 text-white showcase-img">
                <img class="img-fluid" src="https://res.cloudinary.com/duuhnqkce/image/upload/v1531957130/samples/sheep.jpg" alt="">
            </div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Fully Responsive Design</h2>
                <p class="lead mb-0">When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether
                    it's a phone, tablet, or desktop the page will behave responsively!</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img">
                <img class="img-fluid" src="https://res.cloudinary.com/duuhnqkce/image/upload/v1531957131/samples/landscapes/girl-urban-view.jpg"
                    alt="">
            </div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Updated For Bootstrap 4</h2>
                <p class="lead mb-0">Newly improved, and full of great utility classes, Bootstrap 4 is leading the way in mobile responsive web
                    development! All of the themes on Start Bootstrap are now using Bootstrap 4!</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img">
                <img class="img-fluid" src="https://res.cloudinary.com/duuhnqkce/image/upload/v1531957144/samples/landscapes/nature-mountains.jpg"
                    alt="">
            </div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Easy to Use &amp; Customize</h2>
                <p class="lead mb-0">Landing Page is just HTML and CSS with a splash of SCSS for users who demand some deeper customization options.
                    Out of the box, just add your content and images, and your new landing page will be ready to go!</p>
            </div>
        </div>
    </div>
</section>
